@using Blazor.Wizard.Demo.Models
@using Blazor.Wizard.Demo.Models.Questionary
<EditForm EditContext="EditContext">
  <DataAnnotationsValidator/>
  <div>
    <label>Favorite Color:</label>
    <InputText class="form-control" @bind-Value="Model.FavoriteColor"/>
    <ValidationMessage For="@(() => Model.FavoriteColor)"/>
  </div>
</EditForm>

@code {
  [Parameter, EditorRequired]
  public required QuestionaryStep3Model Model { get; set; }
  [Parameter, EditorRequired]
  public required EditContext EditContext { get; set; }
}