@using Blazor.Wizard.Demo.Models
<EditForm EditContext="EditContext">
  <DataAnnotationsValidator/>
  <div>
    <label>Name:</label>
    <InputText class="form-control" @bind-Value="Model.Name"/>
    <ValidationMessage For="@(() => Model.Name)"/>
  </div>
</EditForm>